@import url('https://fonts.googleapis.com/css2?family=Faster+One&family=Montserrat:wght@300;400;700;900&display=swap');

:root {
    --bodyFont: 'Montserrat', sans-serif;
    --secondaru-font: "Faster One", cursive;
    --primaryColor: #272b34;
    --secondaryColor: #8df48b;
    --accents: #d85080;
    --white: #fff;
    --lightGray: #f1f1f1;
    --font: 16px;
    --textShadow: 5px 5px 20px var(--primaryColor);
    --transition: .3s ease;
}

body {
    font-family: var(--bodyFont);
    font-size: var(--font);
    background: var(--primaryColor);
}

h1,
h2,
h3,
h4 {
    font-weight: 900;
    letter-spacing: 2px;
}

.container {
    width: 80%;
}

hr{
    width: 15%;
    border: 1px solid var(--secondaryColor);
    margin: 20px auto;

}

/***header***/
header {
    background-image: linear-gradient(rgba(0, 0, 0, .1), rgba(0, 0, 0, .1)), url(img/header.jpg);
    background-position: center;
    background-size: cover;
    height: 80vh;
}

/***navbar***/
.navbar {
    background: var(--primaryColor) !important;
    border: none;
    border-bottom: 2px solid var(--secondaryColor) !important;
    padding: 0;
    position: relative;
    top: 50px;
}

.navbar-brand {
    background: var(--secondaryColor);
    padding: 10px 30px;
    font-family: var(--secondaru-font);
    font-size: 2rem;
    text-transform: uppercase;
    color: var(--primaryColor) im !important;
}

.navbar .navbar-nav {
    text-transform: uppercase;
    padding-right: 10px;
}

.navbar .nav-link {
    color: var(--secondaryColor) !important;
    font-weight: 500;
}

.navbar .nav-link:hover {
    transition: var(--transition);
    color: var(--white) !important;
}

hgroup {
    margin-top: 300px;

}

hgroup p {
    font-weight: 500;
    font-size: 1.2rem;
}

hgroup h1 {
    color: var(--secondaryColor);
    font-size: 4rem;
    text-shadow: 3px 3px 3px var(--primaryColor), 0 0 0.5em var(--primaryColor), 0 0 0.1em var(--primaryColor);
}

/***about***/
#about{
    margin: 50px 0;
    text-align: center;
}
#about h3{
    font-size: 2rem;
}
#about p{
    font-weight: 500;
    font-size: 1.2rem;
}

/* #about hr{
    width: 20%;
    border: 1px solid var(--secondaryColor);
    margin: 20px auto;
} */

/***teme***/
#teme{
    padding-top: 50px;
    text-align: center;
    color: var(--primaryColor);
    background-color: var(--secondaryColor);
}

#teme hr{
    border: 1px solid var(--primaryColor);

}

#teme i{
    font-size: 3rem;
    padding: 50px;
    background: var(--primaryColor);
    color: var(--secondaryColor);
    clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
    margin:30px 0;
}